#beforecart{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}   
#beforecart>div:first-child{
      
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    #beforecart>div:first-child>div:first-child{
        width: 50%;
       

    }


    #objdatacss{
         font-weight: 600;
    }
    #objdatacss>p{
        margin-top: 10px;
    }

    #seriesinfo{
        margin-top: 15px;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px; 
        border: 1px solid black;  
}
    
    #seriesinfo>p{
        margin-top: 7px;                
    }

    #limiAvai{
        margin-left: 50px;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    #addbefo{
        border: 1px solid sienna;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        background-color: black;
        color: white;
        font-size: 15px;
        font-weight: bold;

    }        
    #addbefo>a{ 

        color: white;
        text-decoration: none;
        background-color: black;
     }


    #adddea{
        border: 1px solid sienna;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        background-color: silver;
        color:black;
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;

    }
   #beforecart>div>div:first-child{
    margin: auto;
   }

   
   #adjbefoimg{
    display: flex;
    align-items: center;
    justify-content: center;
   }

   #befoInfo{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    
   }#befoInfo>div:first-child>div{
    margin-bottom: 20px;
   }

   #compositioncss>p:first-child{
    font-weight: 600;

   }
   #compositioncss>p:last-child{
    font-size: 13px;

   }
   #befoInfo{
    display: flex;
    justify-content: space-between;
   }

   #befoInfo>div:first-child{
    width: 20%;
}

#befoInfo>div:last-child{
    width: 50%;


}
#befoInfo>div:last-child>p:first-child{

     font-weight: bold;
}

#befoInfo>div:last-child>p:last-child{


    font-size: 13px;
}
#lastbefo{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#lastbefo>div{
    display: grid;
    border: 1px solid black;
    grid-template-columns:repeat(4,1fr);
    width: 80%;
    margin-bottom: 100px;
    border-color: #3f3f;
    background-color:#f3f3f3;


}
#beforeImage{
width: 70%;
}

#lastimgofbefo{
    width: 70%;   
   

    
}
#lastbefodiv>div{
    font-size: 14px;
    font-weight: 600;
    
}
#alignitemsdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lastbefodiv{
    background-color: #f3f3f3;
}


#lastblacked{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
   }

   #lastblacked>p{
    margin-top: 10px;
    background-color: black;
    margin-bottom: 10px;
   }


